.AboutMeSummary {
    padding: 10px;

    .AboutMeSummaryTopic {
        color: $textColor1;
        text-transform: uppercase;
        font-size: 24px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}