/* @font-face {
  font-family: "Alatsi-Regular";
  src : url("./fonts/Alatsi-Regular.ttf");
}

h1, h2, h3, h4, h5, h6, p {
  font-family: "Alatsi-Regular";
  margin: 0;
}

a {
  color: #FF0000;
  text-decoration-line: none;
}

a:hover {
  color: brown;
} */

/* body.home a.home:link,
body.skill a.skill:link,
body.experience a.experience:link,
body.portfolio a.portfolio:link,
body.aboutme a.aboutme:link {
  -webkit-text-stroke: 2px;
  color:pink;
} */

/* .HeaderLinkPage {
  text-transform: uppercase;
  margin-inline-start: 30px;
  margin-inline-end: 30px;
  font-size: 24px;
} */

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */