$textColor1: #FF0000;
$textColor2: #000000;
$textColor3: #FFFFFF;
$textColor4: #8B8989;
$textColor5: #DDDBDB;

$backgroundColor1: #FF0000;
$backgroundColor2: #000000;
$backgroundColor3: #FFFFFF;
$backgroundColor4: #8B8989;
$backgroundColor5: #DDDBDB;
