//----- Link -----//

a {
    color: #ff0000;
    text-decoration-line: none;
  }
  
  a:hover {
    color: brown;
  }
  
  body.home a.home:link,
  body.skill a.skill:link,
  body.experience a.experience:link,
  body.portfolio a.portfolio:link,
  body.aboutme a.aboutme:link {
    -webkit-text-stroke: 2px;
  }